*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 247, 255);
}

.contenedor{
    display: grid;
    grid-template-areas: "header" "header"
                         "nav" "nav"
                         "banner" "banner"
                         "productos" "productos"
                         "combos" "combos"
                         "novedades" "novedades"
                         "main" "main"
                         "footer" "footer";
}

/* logo */

.logo{
    max-height: 140px;
}

/* menu navegacion */
.color-menu{
    background-color: rgb(255, 247, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.nav-item:hover{
    background-color: rgb(253, 239, 220);
    border-radius: 10px;
}

.nav-link{
    color: black;
}

/* banner */

.banner{
    grid-area: banner;
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

/* carousel */

.carousel-item > img{ 
    margin:auto; 
}

button > span{
    background-color: #ffb5cc;
}

/*media queries*/

@media screen and (max-width: 480px){

    main img{
        width: 100%;
    }

    .banner{
        display: none;
    }

    main section{
        display: flex;
        flex-direction: column;
    }
    main section img{
        padding: 5px;
    }


    .productosTitulo{
        padding: 10px;
        margin: 10px;
        font-size: 30px;
    }

    .seccionTartas{
        flex-direction: column;
    }

    .nosotrosContainer{
        display: flex;
        flex-wrap: wrap;
    }

}

/* main */

main{
    padding: 0px 20px 40px 20px;
}

main div h3{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

main > div > a{
    text-decoration: none;
    color: black;
}

section img{
    height: 300px;
    border-radius: 10px;
}

.productos{
    grid-area: productos;
    display: flex;

}

.combos{
    grid-area: combos;
    display: flex;
    justify-content: space-evenly;
}

.novedades{
    grid-area: novedades;
    display: flex;
    justify-content: space-evenly;
}

footer{
    grid-area: footer;
    background-color: #ffb5cc;
    text-align: center;
    border-top: 1px solid black;
    padding: 30px;
}

/* Productos */

.seccionTartas{
    display: flex;
    justify-content: space-around;
}

.seccionBudines{
    display: flex;
    justify-content: center;
}

.tartas{
    padding: 2%;
    text-align: center;
}

.budines{
    padding: 2%;
    text-align: center;
}

/* Nosotros */

.contenedorNosotros{
    display: grid;
    grid-template-areas: "header" "header"
                         "nav" "nav"
                         "banner" "banner"
                         "main" "main"
                         "footer" "footer";
}

.nosotrosP{
    margin: 2%;
}

.nosotrosContainer{
    display: flex;
    align-items: center;
    margin-top: 3%;
}

/* FAQ */

.mainPreguntas h2{
    margin: 1%;
}

.mainPreguntas span{
    font-size: 18px;
    color: #f793b2;
}

.mainPreguntas p{
    padding-bottom: 3%;
}


